<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet' />
    <link type="text/css" rel="stylesheet" href="style.css" />
    <title>Text to Speech</title>
</head>

<body background="#ffffff">
    <div class="row1">
        <h1 id="heading" style="font-family: 'Acme'; font-size: 60px; text-align: center; color:#1DA1F2;">
            SPELL IT OUT!
        </h1>
    </div>

    <div class="row main-container">
        <div class="column1">
            <img src="/indexImage.jpg" alt="kids and Teacher" style="width:100%;"></img>
        </div>

        <div class="column2">
            <div class="container">

                <div class="inputs">
                    <button id="start">Listen word!</button>
                    <label>Enter Word: </label>
                    <input type="text" id="answerText" placeholder="enter spelling..." />

                    <button id="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px;">Let's
            learn together!
        </p>
    </div>
</body>

<script src="./app.js"></script>

</html>